<header>
  <link rel="stylesheet" href="game_styles.css" />
  <script src="socket.io.js"></script>
  <script src="jquery.js"></script>  
</head>
<body>
  <div class="game-container">
    <h1>Game</h1>
    <a href="#!/home">home</a>

    <div class="container">
      <div>
        <div>
          <canvas id="gameCanvas" class="left" height="500px" width="500px"></canvas>
        </div>
        <div class="right">
          <div ng-repeat="entry in leaderboard | orderBy:'-size'">{{entry.name}}  size: {{entry.size}}</div>
        </div>
      </div>
    <div class="container">
      <button ng-click="join()">ENTER</button>
      <button ng-click="leave()">LEAVE</button>
    </div>
  </div>
</body>
<footer>
  
  
</footer>
