
body {
  /*
  position : fixed;
  margin : 0;
  padding : 0;	
  border : 1px solid #d3d3d3; 	
  background-color: #111111;
  */
}

.left {
    border: 1px solid #d3d3d3;
    width: 500px;
    height: 500px;
    float: left;
}
.right {
    margin-left: 500px;
    width: 250px;
    height: 500px;
    background: #dddddd;
}


.disabled-class {  
  opacity: .30;
}

.form-container {
  padding : 20px;
  background-color : #ffffff;
}

.container {
  padding : 5px;
}

.game-container {
  padding : 20px;
  background-color : #ffffff; 
}

.color-swatch {
  border: 1px solid #000000;
}