<header>
  <link rel="stylesheet" href="game_styles.css" />
  <script src="socket.io.js"></script>
  <script src="jquery.js"></script>  
</head>
<body>
  <div class="game-container">
    <div class="container">
      <div>
        <div>
          <canvas id="gameCanvas" class="left" height="500px" width="500px"></canvas>
        </div>
        <div class="right">
          <table>
            <tr ng-repeat="entry in leaderboard | orderBy:'-size'">
              <td>
                <span ng-hide="entry.copy_number">{{entry.name}}</span>
                <span ng-show="entry.copy_number">{{entry.name}}({{entry.copy_number}})</span>
              </td>
              <td>size: {{entry.size}}</td>
              <td>color:
                <canvas class="color-swatch" height="10px" width="10px" ng-style="{'background-color':'{{entry.color}}'}"></canvas>
              </td>              
            </tr>
          </table>
        </div>
      </div>
    <div class="container">
      <button ng-hide="joined" ng-click="join()">ENTER</button>
      <button ng-show="joined" ng-click="leave()">LEAVE</button>
      <a href="#!/setup">setup</a>
    </div>
  </div>
</body>